# Dart / Flutter
.dart_tool/
.packages
build/
.pub-cache/
.pub/
pubspec.lock        # apps lock; this is a library workspace

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Flutter/Android/iOS build artifacts
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/.flutter-plugins
**/.flutter-plugins-dependencies
